<div class="container">
  
  <div class="row text-center justify-content-center my-3">
    <div class="col-8">
     <h2 class="index-quote">Shit happens</h1>
     <p>Keep it coming!</p>
    </div>
  </div>

  <div class="timeline mb-5">
    <div class="timeline-header">Your timeline</div>
    <% @movements.each do |movement| %>
      <p>    
        <%= "Doo Doo ##{movement.id}, #{movement.created_at}" %>
        <%= link_to "Check it out", "/movements/#{movement.id}", class: "btn text-center" %>
      </p>    
    <% end %>
    <div class="timeline-footer">See you next time!</div>
    <br>
    <br>
  </div>

</div>
