  <center>

  <form>
    <fieldset>
      <legend>How are you feeling?</legend>
      <p>
          <label>Select list</label>
          <select id = "myList">
            <option value = "1">😁</option>
            <option value = "2">😀</option>
            <option value = "3">😐</option>
            <option value = "4">😔</option>
            <option value = "5">😰</option>
          </select>
      </p>
    </fieldset>

    <fieldset>
      <legend>How much effort you're putting in?</legend>
      <p>
          <label>Select list</label>
          <select id = "myList">
            <option value = "1">It was easy!</option>
            <option value = "2">Some effort, but it was ok.</option>
            <option value = "3">It took a good effort.</option>
            <option value = "4">It took a lot of effort.</option>
            <option value = "5">It was very hard in an uncommon level.</option>
          </select>
      </p>
    </fieldset>

    <fieldset>
      <legend>How long have you been trying?</legend>
      <p>
          <label>Select list</label>
          <select id = "myList">
            <option value = "1">Less than a minute.</option>
            <option value = "2">Between one to five minutes.</option>
            <option value = "3">Between five to ten minutes.</option>
            <option value = "4">Between five to fifteen minutes.</option>
            <option value = "5">More than fifteen minutes.</option>
          </select>
      </p>
    </fieldset>

    <fieldset>
      <legend>How is the smell?</legend>
      <p>
          <label>Select list</label>
          <select id = "myList">
            <option value = "1">Nothing new.</option>
            <option value = "2">Different, but not aggravating.</option>
            <option value = "3">Foul smelling.</option>
          </select>
      </p>
    </fieldset>

    <fieldset>
      <legend>Which color is it?</legend>
      <p>
          <label>Select list</label>
          <select id = "myList">
            <option value = "1">Any shade of brown</option>
            <option value = "2">A little green.</option>
            <option value = "3">Super green.</option>
            <option value = "4">Red.</option>
            <option value = "5">Yellow.</option>
            <option value = "6">Pale, white, clay-colored.</option>
            <option value = "7">Black.</option>
          </select>
      </p>
    </fieldset>

    
    <div class="dropdown"> 
      <button class="btn dropdown-toggle"
              type="button" 
              id="dropdownMenuButton" 
              data-toggle="dropdown"
              aria-haspopup="true" 
              aria-expanded="false"> 
          Please select the image below that best describe your doo doo!
      </button> 

      <ul class="dropdown-menu" 
          aria-labelledby="dropdownMenuButton"> 
        <li class="dropdown-item"> 
          <img src="https://i.imgur.com/kliYgem.png"
          width="75" height="40">
        </li> 
        <li class="dropdown-item"> 
          <img src="https://i.imgur.com/XDzw3uN.png" 
          width="75" height="40">
        </li> 
        <li class="dropdown-item"> 
          <img src="https://i.imgur.com/uQRhzrV.png" 
          width="75" height="40">
        </li> 
        <li class="dropdown-item"> 
          <img src="https://i.imgur.com/CPQNjaP.png"
          width="75" height="40">
        </li> 
        <li class="dropdown-item"> 
          <img src="https://i.imgur.com/9uVW0r5.png"
          width="75" height="40">
        </li> 
        <li class="dropdown-item"> 
          <img src="https://i.imgur.com/yiZLVyf.png"
          width="75" height="40">
        </li> 
        <li class="dropdown-item"> 
          <img src="https://i.imgur.com/mGfzmyJ.png"
          width="75" height="40">
        </li> 
      </ul> 
    </div> 
  </form>
</center>
