<div class="container">

  <div class="header dashboard-hail text-center mb-4">
    <h1 class="pb-3">Doo Doo Diaries</h1>
    <h3 class="pb-3">This is the new movements view</h2>
  </div>

  <center>
    <form action="">
      <div class="dropdown mb-4"> 
        <button class="btn dropdown-toggle"
                type="button" 
                id="dropdownMenuButton" 
                data-toggle="dropdown"
                aria-haspopup="true" 
                aria-expanded="false"> 
            How are you feeling?
        </button> 

        <ul class="dropdown-menu dropdown-menu-right" 
            aria-labelledby="dropdownMenuButton"> 
          <li class="dropdown-item" value = "1"> 
            😁
          </li> 
          <li class="dropdown-item" value = "2"> 
            😀
          </li> 
          <li class="dropdown-item" value = "3"> 
            😐
          </li> 
          <li class="dropdown-item" value = "4"> 
            😔
          </li>
          <li class="dropdown-item" value = "5"> 
            😰
          </li>
        </ul> 
      </div>

      <div class="dropdown mb-4"> 
        <button class="btn dropdown-toggle"
                type="button" 
                id="dropdownMenuButton" 
                data-toggle="dropdown"
                aria-haspopup="true" 
                aria-expanded="false"> 
            Effort?
        </button> 

        <ul class="dropdown-menu dropdown-menu-right" 
            aria-labelledby="dropdownMenuButton"> 
          <li class="dropdown-item" value = "1"> 
            Easy, no effort
          </li> 
          <li class="dropdown-item" value = "2"> 
            A bit of effort
          </li> 
          <li class="dropdown-item" value = "3"> 
            Some effort
          </li> 
          <li class="dropdown-item" value = "4"> 
            Lots of effort
          </li>
          <li class="dropdown-item" value = "5"> 
            Huge effort
          </li>
        </ul> 
      </div>

      <div class="dropdown mb-4"> 
        <button class="btn dropdown-toggle"
                type="button" 
                id="dropdownMenuButton" 
                data-toggle="dropdown"
                aria-haspopup="true" 
                aria-expanded="false"> 
            Duration?
        </button> 

        <ul class="dropdown-menu dropdown-menu-right" 
            aria-labelledby="dropdownMenuButton"> 
          <li class="dropdown-item" value = "1"> 
            Less than a minute
          </li> 
          <li class="dropdown-item" value = "2"> 
            Five to ten minutes
          </li> 
          <li class="dropdown-item" value = "3"> 
            Ten to fifteen minutes
          </li> 
          <li class="dropdown-item" value = "4"> 
            More than fifteen minutes
          </li>
        </ul> 
      </div>

      <div class="dropdown mb-4"> 
        <button class="btn dropdown-toggle"
                type="button" 
                id="dropdownMenuButton" 
                data-toggle="dropdown"
                aria-haspopup="true" 
                aria-expanded="false"> 
            Color?
        </button> 

        <ul class="dropdown-menu dropdown-menu-right" 
            aria-labelledby="dropdownMenuButton"> 
          <li class="dropdown-item" value = "1"> 
            Any shade of brown
          </li> 
          <li class="dropdown-item" value = "2"> 
            A little green
          </li> 
          <li class="dropdown-item" value = "3"> 
            Super green
          </li> 
          <li class="dropdown-item" value = "4"> 
            Red
          </li> 
          <li class="dropdown-item" value = "5"> 
            Yellow
          </li> 
          <li class="dropdown-item" value = "6"> 
            Pale, white, clay-colored
          </li> 
          <li class="dropdown-item" value = "7"> 
            Black
          </li> 
        </ul> 
      </div>

      <div class="dropdown mb-4"> 
        <button class="btn dropdown-toggle"
                type="button" 
                id="dropdownMenuButton" 
                data-toggle="dropdown"
                aria-haspopup="true" 
                aria-expanded="false"> 
            Smell?
        </button> 

        <ul class="dropdown-menu dropdown-menu-right" 
            aria-labelledby="dropdownMenuButton"> 
          <li class="dropdown-item" value = "1"> 
            Nothing unnusual
          </li> 
          <li class="dropdown-item" value = "2"> 
            It is a bit strange
          </li> 
          <li class="dropdown-item" value = "3"> 
            Fould odor
          </li> 
        </ul> 
      </div>
      
      <div class="dropdown mb-4"> 
        <button class="btn dropdown-toggle"
                type="button" 
                id="dropdownMenuButton" 
                data-toggle="dropdown"
                aria-haspopup="true" 
                aria-expanded="false"> 
            Select shape
        </button> 

        <ul class="dropdown-menu dropdown-menu-right" 
            aria-labelledby="dropdownMenuButton"> 
          <li class="dropdown-item"> 
            <img src="https://i.imgur.com/kliYgem.png"
            width="75" height="40">
          </li> 
          <li class="dropdown-item"> 
            <img src="https://i.imgur.com/XDzw3uN.png" 
            width="75" height="40">
          </li> 
          <li class="dropdown-item"> 
            <img src="https://i.imgur.com/uQRhzrV.png" 
            width="75" height="40">
          </li> 
          <li class="dropdown-item"> 
            <img src="https://i.imgur.com/CPQNjaP.png"
            width="75" height="40">
          </li> 
          <li class="dropdown-item"> 
            <img src="https://i.imgur.com/9uVW0r5.png"
            width="75" height="40">
          </li> 
          <li class="dropdown-item"> 
            <img src="https://i.imgur.com/yiZLVyf.png"
            width="75" height="40">
          </li> 
          <li class="dropdown-item"> 
            <img src="https://i.imgur.com/mGfzmyJ.png"
            width="75" height="40">
          </li> 
        </ul> 
      </div> 
    </form>
  </center>  
</div>
