<h3><%= "Poop ##{@movement.id}: #{@movement.feeling} #{@movement.effort} #{@movement.duration} #{@movement.color} #{@movement.smell} #{@movement.shape} #{@movement.comments}"  %></h3>
<h3><%= "Time: #{@movement.created_at}" %> </h3>