<div class="map__info">
  <h3 class="map__info__title title"><%= bathroom.name %></h3>
  <p class="map__info__address"><%= bathroom.address %></p>
  <p class="map__info__description"><%= bathroom.description %></p>
</div>