h1, h2, p {
  text-align: center;
}

.dashboard-hail {
}

.dashboard-actions {
  display: grid;
  grid-template: 1fr;
}

@media (max-width: 420px) {
  // .container {
  //   margin-top: 100px;
  // }
}