// Import page-specific CSS files here.
@import "home";

body {
  background: #eee;
}

h1 {
  font-family: 'Mali', cursive;
}

h2, h3, p {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

ul {
  list-style: none;
}

.movement-report {
  margin-bottom: 100px;
}

.btn {
  align-items: center;
  background: #743ad5;
  transition: 0.3s;
  border: none;
  color: white;
}

.btn:hover {
  background: #d53a9d;
  color: white;
}

.movements-form {
  margin-bottom: 100px;
}

.movement-report {
  background: white;
  margin-top: 10px;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.39);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.39);
  box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.39);
}



@media (max-width: 420px) {
  // .bt {
  //   min-width:150px;
  // }
}

@media (max-width: 420px) {
  // .container {
  //   margin-top: 50px;
  //   margin-bottom: 25px;
  // }
}