.movement_shape {
  display: none;
}

.shape_choice {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.shape_choice--on {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shape__empty {
  display: none;
}

.shape__empty--on {
  text-align: center;
  color: #ff0033;
  display: block;
}

.comment__field {
  border-top: 2.5px solid rgba($color: #000000, $alpha: 0.3);
  padding-top: 20px;
}

.comment__text {
  border-bottom: 2.5px solid rgba($color: #000000, $alpha: 0.3);
  padding-bottom: 20px;
}

.movement__hint {
  font-size: 14px;
}

.map__box {
  width: 100%;
  border-radius: 5px;
}

.geo__bathrooms {  
  border-bottom: 2.5px solid  rgba($color: #000000, $alpha: 0.3);
}
