
.ul-style{
  padding-left: 0px;
}

.section-user {
  width: 75%;
  margin: 0 auto;
  opacity: 0.6;
  text-shadow: 2px 2px 5px rgba(2,2,2,0.5);
}

.section-head {
  background: white;
  width: 50%;
  margin: 0 auto;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
  border-radius: 5px;
}

.section-content {
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 5px;
}

.chart {
  height: 35vh;
}

.time__search {
  border-top: 2.5px solid rgba($color: #000000, $alpha: 0.3);
  padding-top: 10px;
}

.search__icons {
  width: 40px;
  height: 40px;
  margin: 15px;
}

.search__btns {
  width: 70%;
  width: 75%;
}

// android
@media (min-width: 320px) and (max-width: 360px)   {
  .time__search {
    display: flex;
    flex-direction: column;
    // background: purple;
  }
}

// iphone 5 SE

@media (max-width: 320px) {
  .time__search {
    display: flex;
    flex-direction: column;
    // background: blue;
  }
}

// iphone 6, 7, 8 non plus

@media (min-width: 361px) and (max-width: 375px) {
  .time__search {
    display: flex;
    flex-direction: column;
    // background: yellow;
  }
}

// pixel and iphone PLUS

@media (min-width: 376px) and (max-width: 414px) {
  .time__search {
    display: flex;
    flex-direction: column;
    // background: red;
  }
}