<div class="dashboard-hail">
  <h1 class="pb-3">Doo Doo Diaries</h1>
  <h2 class="pb-3">Welcome *User name*!</h2>
  <p class="pb-3">How can I help you today?</p>
</div>

<div class="container">

  <div class="dashboard-actions">
    <%= link_to "Record Movement", new_movement_path, class: "btn my-3" %>
    <%= link_to "Record Meal", new_meal_path, class: "btn my-3" %>
    <%= link_to "Check Events", "#", class: "btn my-3" %>
  </div>
