<div class="footer">
  <div class="footer-copyright">
    You can always count on your <i class="fas fa-poop"></i> to help keep you safe!
  </div>
  <div class="footer-links list-inline">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
