<div class="container">
  <h1 class="title text-center">About Us</h2>

  <div class="text-center">
    <ul class="members__list">
    <li>
      <img class="avatar my-2" src="https://avatars3.githubusercontent.com/u/61751892?v=4" alt="lala">
      <p class="title text-center">lala@doodoodiaries.com</p>
    </li>
    <li>
      <img class="avatar my-2" src="https://avatars0.githubusercontent.com/u/67970188?v=4" alt="gabs">
      <p class="title text-center">gabs@doodoodiaries.com</p>
    </li>
    <li>
      <img class="avatar my-2" src="https://i.imgur.com/C62M1hB.jpg" alt="richie">
      <p class="title text-center">richard@doodoodiaries.com</p>
    </li>
    </ul>
  </div>  

</div>