<div class="landing__page">
  <div class="home-img text-center">
    <h1 class="title pt-4">Doo Doo Diaries</h1>
    <img class="logo" src="https://i.imgur.com/CbBXPLI.png" alt="poop_logo">
  </div>

  <!-- The parent component -->
  <div class="curtain">
    
    <!-- The component wrapper -->
    <div class="curtain__wrapper">
      
      <!-- The checkbox hack! -->
      <%# <input class="checkbox" type="checkbox" checked> %>
      
      <!-- The left curtain panel -->
      <div class="curtain__panel curtain__panel--left">
        <p class="invitation text-right">Start your</p>
      </div> <!-- curtain__panel -->
      
      <!-- The prize behind the curtain panels -->
      <div class="curtain__prize">


        <div class="home-btns">
          <%# <img class="diary_icon center" src="https://i.imgur.com/wkMUOyw.png" alt="diary_img"> %>
          <p class="home__instructions text-center">Log in or create a new account</p>
          <%= link_to "Sign in", new_user_session_path, class: "btn-block btn" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn-block btn" %>
        </div>

      </div> <!-- curtain__prize -->
      
      <!-- The right curtain panel -->
      <div class="curtain__panel curtain__panel--right">
        <p class="invitation text-left">diary now!</p>  	    
      </div> <!-- curtain__panel -->
      
    </div> <!-- curtain__wrapper -->

  </div> <!-- curtain -->
  
</div>


