<div class="home-img text-center">
  <img src="https://i.imgur.com/4HbsU6m.png" alt="poop_logo">

  <div class="text-center mb-5">
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-flat join-in" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-flat join-in" %>
  </div>
</div>
