<div class="dashboard-hail">
  <h1 class="pb-3">Doo Doo Diaries</h1>
  <h2 class="pb-3">Welcome *User name*!</h2>
  <p class="pb-3">How can I help you today?</p>
</div>

<div class="container">

  <div class="dashboard-actions">
    <a href="#" class="btn my-3">Record Movement</a>
    <a href="#" class="btn my-3">Record Meal</a>
    <a href="#" class="btn my-3">Check Events</a>
  </div>

</div>
