<div class="container">
  <h2 class="title mt-5 text-center">Doo Doo Diary  <%#= "#{@movement.counter}" %> </h2>
  <div class="instructions-wrap">
    <div class="instructions">
        <h5 class="font-weight-bold">Doo Doo Diary log, stardate <%= "#{@meal.created_at.strftime('%a %d %b %Y %H:%M')} . . ." %></h2>
    
        <p class="my-4">It seems you consumed <%= "#{@meal.description}" %></p>
    
        <%= link_to "See Meals Timeline", meals_path, class: "btn-block btn" %>
        <%= link_to "See Profile", profile_path, class: "btn-block btn" %>
    
    </div>
  </div>
</div>