.carousel-indicators .active{
  background-color: #34435E;
}

// .carousel-control-prev-icon {
//   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
//  }
 
//  .carousel-control-next-icon {
//    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
//  }

/* Container holding the image and the text */
.banner {
  position: relative;
  text-align: center;
  height: 38vh;
}

.banner img {
  opacity: 0.3;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom__center {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom__right {
  position: absolute;
  top: 70%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.bottom__left {
  position: absolute;
  top: 70%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.banner__text {
  color: #34435E;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  width: fit-content;
}

// /* Bottom left text */
// .bottom-left {
//   position: absolute;
//   bottom: 8px;
//   left: 16px;
// }

// /* Top left text */
// .top-left {
//   position: absolute;
//   top: 8px;
//   left: 16px;
// }

// /* Top right text */
// .top-right {
//   position: absolute;
//   top: 8px;
//   right: 16px;
// }

// /* Bottom right text */
// .bottom-right {
//   position: absolute;
//   bottom: 8px;
//   right: 16px;
// }
