.dropbtn { 
  background-color: #743ad5; 
  color: white; 
  padding: 16px; 
  font-size: 16px; 
  border: none; 
  cursor: pointer; 
} 

.dropdown { 
  position: relative; 
  display: inline-block;
  // padding-bottom: 400px; 
} 

.dropdown-content { 
  display: none; 
  position: absolute; 
  background-color: #f9f9f9; 
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px  
      0px rgba(0, 0, 0, 0.2); 
  z-index: 1;
  text-align: center;
} 

.dropdown-content a { 
  color: black; 
  padding: 12px 16px; 
  text-decoration: none; 
  display: block; 
} 

.dropdown-content a:hover { 
  background-color: #f1f1f1 
} 

.dropdown:hover .dropdown-content { 
  display: block; 
} 

.dropdown:hover .dropbtn { 
  background-color: #d53a9d; 
}

.dropdown:active .dropbtn { 
  background-color: #d53a9d; 
}

.dropdown-toggle {
  width: 65vw;
}

.dropdown-item {
  text-align: center;
}

.dropdown-menu {
  width: -webkit-fill-available;
}

@media (max-width: 420px) {
  .dropbtn{
    
 }
}