.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .btn {
  align-items: center;
  min-width:150px;
  background: #743ad5;
  transition: 0.3s;
  border: none;
}

.navbar-lewagon .btn:hover {
  background: #d53a9d;  
}

@media (max-width: 420px) {
  .navbar-lewagon .navbar-collapse {
    text-align: center;
  }
}