@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
$font-sans: 'Open Sans', sans-serif;

//Colors
$black: #34435E;
$white: #ffffff;
  
.timeline {
  width: 90%;
  margin: 0 auto;
  padding: 0 10px;
}

.timeline-header {
  background: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  color: $white;
  text-align: center;
}

.timeline-footer {
  background: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  color: $white;
  text-align: center;
}

.timeline p {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px 0;
  position: relative;
  color: $black;
  text-align: center;
  transition: 0.3;
  opacity: 0.7;
}
//odd number borders
.timeline p:nth-of-type(2n+1) {
  border-right: 3px solid;
  padding-left: 0;
}
//even number borders
.timeline p:nth-of-type(2n) {
  border-left: 3px solid;
  padding-right: 0;
}
//handle first and last
.timeline p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.timelinep:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
